* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background: linear-gradient(315deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

h1 {
  margin-top: 100px;
  font-size: 92px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2.4px;
  text-shadow: 0 3px 1px #1c1c1c,
               0 6px 1px #1c1c1c,
               0 9px 1px #1c1c1c,
               0 12px 1px #1c1c1c,
               0 15px 20px #1c1c1c;
  color: #fefefe; 
}

.quote-text {
  width: 50%;
  margin-top: 100px;
  padding: 20px;
  border-radius: 5px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #1d8000; 
}

.quote-text .iconfont {
  font-size: 30px;
}

.page-list {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
}

.page-preview {
  width: 300px;
  height: 200px;
  margin: 20px;
  border: 10px solid #ffffff;
}

.empire {
  background-image: url(../images/empire-state.png);
}

.midtown {
  background-image: url(../images/midtown.png);
}

.new-york-boy {
  background-image: url(../images/liberty.png);
}

.page-preview:hover .hover-content {
  display: block;
}

.hover-content {
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.hover-content h3 {
  margin: 0 20px 0 20px;
  padding: 10px;
  font-size: 1.6em;
  text-transform: uppercase;
}

.new-york-boy .hover-content h3 {
  border-bottom: solid 1px;
}

.hover-content p {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.8em;
}

.hover-content p:after {
  content: "read more";
  display: block;
  width: 100px;
  margin: 5px auto 0 auto;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  text-transform: uppercase;
}

.empire .hover-content {
  background-color: rgba(58, 1, 132, 0.44);
}

.midtown .hover-content {
  position: relative;
  overflow: hidden;
} 

.img-shadow { 
  position: absolute;
  transform: translate(-100px, -120px) rotate(45deg) ;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.44);
}

.text-area {
  position: relative;
  z-index: 1;
}

.new-york-boy .hover-content {
  background-color: #fff8e8;
  color: #000000;
}

.dialogue-box {
  margin-top: 100px;
}

.dialogue-box::before {
  content: "";
  display: block;
  position: relative;
  left: 45%;  
  width: 0;
  height: 0;
  border-style: solid;
  border-color:  transparent transparent #ffffff transparent;
  border-width: 0 24px 24px 24px;
}

.multi-column-box {
  column-count: 3;
  column-gap: 15px;
  width: 50%;
  margin: 0 auto 50px auto;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  font-size: 16px;
  font-family: serif;
  line-height: 18px;
  word-break: break-all;
  background-color: #ffffff;
}

.multi-column-box p {
  margin-bottom: 10px;
}
